@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Theme */
.light {
  --bg-color: white;
  --text-color: black;
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Dark Theme */
.dark {
  --bg-color: #1a202c;
  --text-color: #f7fafc;
  background-color: var(--bg-color);
  color: var(--text-color);
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

